@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0px;
    font-family: 'Heebo', sans-serif;
}

.container{
    display:grid;
    grid-template-rows: 80px 200px 1fr;
    padding:0;
}


nav{
    grid-row-start: 1;
    grid-row-end: 2;
    position: fixed;
    background-color: #393941;
    width:100%;
    }
nav ul li{
    list-style:none;
    float: left;   /* float은 기본적으로 inline 적용 */
    padding:15px;
    padding-left: 30px;    
    font-size: 25px;
}
nav ul a{
    text-decoration: none;
    color: white;
}
nav ul a:hover{
    text-decoration: underline;
}

#fb{
    list-style:none;
    float: right;
    padding-right:40px;
}
#ins{
    list-style:none;
    float: right;
    padding-right:5px;
}

header{
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 35px;
    color:grey;
    padding-bottom: 30px;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}
.script{
    font-size: 30px;
    padding-top:10px;
    padding-bottom:10px;
    font-family: 'Dosis', sans-serif;
}

main{
    grid-row-start: 3;
    grid-row-end: 4;
}
.mypic{
    display:block; 
    width:300px; 
    text-align:center;
    margin: auto;
    padding-top:70px;
}
.icon, .profile{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    font-size:23px;
}

h2{
    font-size: 38px;
    text-align: center;
}




@media(max-width: 700px) {
    .container{
        grid-template-rows: 40px 150px 1fr;
        padding:0;
    }
    nav ul li{    
        font-size: 15px;
    }
    #fb{
        padding-right:60px;
        padding-bottom: 40px;
        width: 10px;
        height: 10px;
    }
    #ins{
        padding-right:15px;
        padding-bottom: 40px;
        width: 10px;
        height: 10px;
    }
    
    header{
        font-size: 25px;
        color:grey;
        padding-bottom: 15px;
        padding-top: 25px;
    }
    .mypic{
        display:block; 
        width:180px; 
        text-align:center;
        margin: auto;
        padding-top:45px;
    }
    .icon, .profile{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 15px;
        font-size:20px;
    }
    strong{
        font-size:25px;
    }
    h2{
        font-size: 28px;
        text-align: center;
    }
    .profile > span{
        font-size:8px;
    }